:root {
  /* --vp-c-brand: #3078c6; */
  /* --vp-c-brand-light: #5F9DF7; */
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
}

@media (min-width: 1600px) {
  :root {
      --vp-layout-max-width: 1600px;
  }

  div.content-container {
    min-width: 848px;
  }
}
